<!DOCTYPE html>
<html>
  <head>
    <title>402</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  </head>
  <body>


    <pre><a href="lightning:<%= invoice.payment_request %>">lnbtc...</a></pre>
    <textarea>
      <%= invoice.payment_request %>
    </textarea>

    <button onclick="enable();">Enable</button>
    <div id="getinfo"></div>
    <hr>

    <button onclick="pay();">Pay</button>

    <div id="content"></div>


    <hr>

    <pre><code>
WebLN.requestProvider().then(function(webln) {
  webln.getInfo().then(function(info) {
    console.log(info);
  });

  webln.sendPayment('<%= invoice.payment_request %>');
});

    </code></pre>

    <hr>
    <div id="headers">
      <h5>Request headers:</h3>
      <%= JSON.stringify(headers) %>
    </div>

    <script
      src="https://unpkg.com/webln@0.2.0/dist/webln.min.js"
      integrity="sha384-mTReBqbhPO7ljQeIoFaD1NYS2KiYMwFJhUNpdwLj+VIuhhjvHQlZ1XpwzAvd93nQ"
      crossorigin="anonymous"
    ></script>
    <script>

    function enable() {
      if(!this.webln) {
        return;
      }
      WebLN.requestProvider().then(function(webln) {
        webln.getInfo().then(function(info) {
          document.getElementById('getinfo').innerHTML = JSON.stringify(info);
        });
      })
      .catch(function(e) {
        alert("Failed: " + e.message);
        console.log('error enable:', e);
      });

    }
    function pay() {
      if(!this.webln) {
        return;
      }
      WebLN.requestProvider()
          .then(function(webln) {
            return webln.sendPayment('<%= invoice.payment_request %>')
              .then(function(r) {
                document.getElementById('content').innerHTML = "YAY, thanks!";
                console.log('done', r);
              })
              .catch(function(e) {
                alert("Failed: " + e.message);
                console.log('err pay:', e);
              });
        })
        .catch(function(e) {
          alert("Webln error, check console");
          console.log('err, provider', e);
        });
    }

    /*
    window.addEventListener('DOMContentLoaded', function(event) {
      window.setTimeout(function() {

        WebLN.requestProvider()
          .then(function(webln) {
            return webln.sendPayment('<%= invoice.payment_request %>')
              .then(function(r) {
                console.log('done', r);
              })
              .catch(function(e) {
                console.log('err', e);
              });
        })
        .catch(function(e) { console.log('err, provider', e) });

      }, 300);
    });
    */
    </script>


  </body>
</html>
